@model List<Dictionary<string, object>>

<h2>Kitap Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kitap Ad覺</th>
            <th>Yazar</th>
            <th>Yay覺n Y覺l覺</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book["title"]</td>
                <td>@book["author"]</td>
                <td>@book["publishYear"]</td>
            </tr>
        }
    </tbody>
</table>
